{% extends 'base.html' %}

{% block content %}
<div class="img-container">
    <img class="img-responsive" src="/static/homeimg.jpg" alt="homepage picture" style="width:100%">
</div>
<div id="page-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    DataComp
                    <small>A data science competition</small>
                </h1>
            </div>
        </div>
        <p class="lead">One person cannot participate with more than one user accounts. You are free to use any tool and machine you have rightful access to. You can use any programming language or statistical software.</p>
        <button type="button" class="btn btn-success">Login/Register</button>
    </div>

</div>
{% endblock %}