{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div id="page-wrapper">

	<div class="container-fluid">
		<div class="alert alert-success">
			<strong class='lead'><p>{% trans "Password reset successfully" %}</p></strong> <p>{% trans "Use new password to " %} <a href="{% url 'auth_login' %}">Login</a></p>
		</div>
	</div>
</div>
<!-- <p>{% trans "Password reset successfully" %}</p>

<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
 -->
{% endblock %}
